@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #282c34;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.card-pattern {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath d='M0 0 L50 50 L100 0 Z' fill='%23f3f4f6' fill-opacity='0.4'/%3E%3C/svg%3E");
    background-repeat: repeat;
}